@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    /*Padding é para por espaçamento interno em um elemento*/
 
    margin: 0;
    /*Margin é para por espaçamento externo em um elemento*/

    
    box-sizing: border-box;
   font-family: "Archivo", serif;

   list-style: none;
   text-decoration: none;
}

:root {

    --Azul: #7ca2f4;
  
    --preto: #121214;
  
    --cinza: #f3f7ff;
    --branco: #ffffff;
    --cinza: #797373;
  }
  
  body {
   background-color: var(--branco);

  }